html, body {
	user-select: none;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

button {
	border: 0;
	border-radius: 12px;
	background-color: #555b61;
}

td {
	text-align: center;
	vertical-align: middle;
}

.invisible {
	font-size: 0 !important;
	opacity: 0 !important;
	width: 0% !important;
	height: 0% !important;
	border: 0 !important;
	padding: 0 !important;
}

.interface {
	z-index: 1;
	transition: all 1s ease 0s;
}

.text {
	white-space: nowrap;
	color: white;
	font-size: 100%;
}

.number {
	color: white;
}

#bonus {
	font-size: 5vmin;
	margin: 0;
	position: absolute;
	width: 50%;
	text-align: right;
	right: 0;
}

#score {
	font-size: 5vmin;
	margin: 0;
	position: absolute;
	width: 50%;
	left: 0;
}

#menuKey {
	display: inline-block;
	font-size: 5vmin;
	margin: 0;
	width: 50%;
	text-align: right;
	right: 0;
	position: absolute;
	bottom: 0;
}

#escapeKey {
	float: right;
	border: 3px solid black;
	border-radius: 5px;
	text-align: center;
	width: 8vmin;
	height: 8vmin;
	line-height: 8vmin;
	vertical-align: middle;
}

#menu {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	margin: auto;
	z-index: 2;
	width: 50%;
	height: 50%;
}

#keys {
	font-size: 8vmin;
	height: auto;
	width: 100%;
}

#arrowImage {
	max-width: 50%;
	max-height: 100%;
}

#mouseImage {
	max-width: 50%;
	max-height: 100%;
}

#restartButton {
	top: 100%;
	bottom: 100%;
	margin: auto;
	font-size: 10vmin;
	height: 33%;
	width: 100%;
}

#restartButton:hover {
	background-color: #6a7179;
}


#renderCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}