html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.interface {
	margin: 0;
	position: absolute;
	color: white;
	transition: all 2s ease 2s;
}

#bonus {
	width: 50%;
	text-align: right;
	right: 0;
}

#score {
	width: 50%;
	left: 0;
}

.invisible {
	visibility: 100%;
	left: -100%;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	margin: 0;
}